<!--<ion-header>
  ---
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let item of hisdata | async">
    {{item | json}}
  </ion-item>
  <ion-item *ngFor="let item of items | async">
    {{item | json}}
  </ion-item>
  <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
  <ion-input type="text" [(ngModel)]="email" placeholder="email"></ion-input>
  <ion-input type="password" [(ngModel)]="password" placeholder="password"></ion-input>

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>
</ion-content>
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
  </ion-navbar>
</ion-header>
<ion-content padding id="page2" class="card-background-page">
    <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.displayName }}!</h1>
    <div *ngIf="!(authService.user | async)">
        <button (click)="signup()" >
            Signup
          </button>
        
          <button (click)="login()" >
            Login
          </button>
    </div>
    <button (click)="logout()" *ngIf="authService.user | async">
        Logout
    </button>

  <ion-slides pager style="height: 150px">
      <ion-slide>
        <img src="assets/imgs/a.jpg"/>
      </ion-slide>
      <ion-slide>
          <img src="assets/imgs/a.jpg"/>
      </ion-slide>
      <ion-slide>
          <img src="assets/imgs/a.jpg"/>
      </ion-slide>
    </ion-slides>

  <hr style="margin: 16px 0"/>

  <div id="home-container1">
    <h4 id="home-heading6" style="color:#000000;font-weight:300;">
      Find Home
    </h4>
  </div>
  <button id="home-button8" ion-button color="light" icon-left style="font-weight:300;border-radius:46px 46px 46px 46px;" (click)="gotoFindProperty()" ion-button block>
    <ion-icon name="create"></ion-icon>
    Find Home
  </button>
  <button id="home-button18" ion-button color="light" icon-left style="font-weight:300;border-radius:46px 46px 46px 46px;" ion-button block (click)="gotopostproperty()">
    <ion-icon name="create"></ion-icon>
    Post Home
  </button>
  <button id="home-button6" ion-button color="light" icon-left style="font-weight:300;color:#EC1094;border-radius:46px 46px 46px 46px;" ion-button block>
    <ion-icon name="people"></ion-icon>
    Find Roommate
  </button>
  <button id="home-button7" ion-button color="light" icon-left style="font-weight:300;border-radius:46px 46px 46px 46px;" ion-button block>
    <ion-icon name="people"></ion-icon>
    Find Tenants
  </button>

  <hr style="margin: 16px 0"/>

  <ion-grid>
      <h4 id="home-heading4" style="color:#000000;font-weight:300;">
        Recent Posts
      </h4>
    <ion-row>
          <ion-col *ngFor="let item of properties | async">
              <div>
                  <ion-card (click)="gotoPropertyDetail($event, item)">
                      <img src="{{item.thumbnail}}">
                      <ion-card-content>
                        <ion-item>
                            <ion-icon name="home" item-start medium></ion-icon>
                            <h2>{{item.publicLocationNamesHk[4]}}</h2>
                            <p>{{item.publicLocationNamesHk[3]}}</p>
                        </ion-item>
                        <ion-item>
                          <ion-icon name="logo-usd" item-start medium></ion-icon>
                          <h2>HKD: {{item.price}}</h2>
                        </ion-item>
                      <ion-row>
                          <ion-col>
                            <ion-badge *ngFor="let number of postTags(item.postTags)" color="light" class="badges">{{number}}</ion-badge>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col center text-center>
                          <ion-note>
                            Timestamp: {{convert2Date(item.dateCreated)}}
                          </ion-note>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                    </ion-card>
              </div>
            </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <h4 id="home-heading4" style="color:#000000;font-weight:300;">
      Recent Posts
    </h4>
  <ion-row>
        <ion-col *ngFor="let item of ownproperties | async">
            <div>
                <ion-card (click)="gotoPropertyDetail($event, item)">
                    <ion-card-content>
                        <ion-item>
                            <h2>{{item.publicLocationNamesEn}}</h2>
                          </ion-item>
                    </ion-card-content>
                  </ion-card>  
                  </div>
                  </ion-col>
                  </ion-row>
                  </ion-grid>
</ion-content>